build/drbd/drbd.v12.suo
*.rej
*.obj
*.o
*.tlog
*.log
*.tmh
*.sdf
*.suo
*.pfx
*.opensdf
*Release/
*Debug/
setup.rpt
disk1/drbdlock.cab
build/installer/updates.xml
build/installer/output.txt
sign_this_file.cmd
disk1/drbd.cab
build/installer/md5sums
setup.inf
